.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.navbar navbar-light navbar-expand-md
sticky-top
navigation-clean-button{
    height: 80px; 
    background-color:
     #567793
}
.card-title{
    font-size: 80% bold #000000;
    text-align: center;
    
}
.card{
    height: auto;
    max-width: 100%;
}
canvas{
    width: 100%;
}

@keyframes identifier {
    
}
#cabecera-central{
    text-align: center;
    border: #000000 bold;
}
#imgPerfil{
    height: auto;

    max-width: 50%
}
.card-body{
    height: auto;
    max-width: 70%;
}