.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.navbar navbar-light navbar-expand-md
sticky-top
navigation-clean-button{
    height: 80px; 
    background-color:
     #567793
}
.card-title{
    font-size: 40px bold #000000;
    text-align: center;
}